@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
}
.text-color{
  color:rgb(255, 144, 14);
}

/* font-color */
.dark1{
  color: rgba(19, 19, 19, 1);
}
.dark2{
  color: rgba(66, 66, 66, 1);
}
.dark3{
  color: rgba(114, 114, 114, 1)
}


/* navbar section */
.display-flex{
  display: flex;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-items{
  list-style:none;
  margin-right: 30px;

}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 50px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-size: 3rem;
  font-weight: 600;
  
}
/* banner section */
.banner-container{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner-content{
  margin-bottom: 32px;
}
.btn-primary{
  background-color: rgb(255, 144, 14);
  color: white;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 50px;
}
.banner-img{
  width: 100%;
}
/* main-section */
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
.features-container{
  justify-content: center;
  align-items: center;
  gap: 76px;
}
.feature-img{
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;
}
.feature-content{
 margin-top: 220px;
  margin-left: 70px;
  margin-right: 100px;
  width: 530px ;
  
}
.feature-title{
  font-size: 2.81rem;
  font-weight: 700;
}
#title1{
  font-weight: 500;
}
.feature-description{
  font-size: 1rem;
  font-weight: 400;
}
.enjoy-container{
  margin: 100px;
  display: flex;
}
.vl {
  border-left: 5px solid rgb(255, 144, 14);
  height: 100px;
  margin-right: 21px;
}
.enjoy-title{

}






/* responsive media query */
@media screen and (max-width :576px) {
  .navbar,
  .navbar-content,
  .feature-container{
    flex-direction: column;
  }
  .feature-img{
    grid-template-columns: repeat(1 , 1fr);

    margin-right: 10px;
  }
  .feature-content{
    width: auto;
  }
}